In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

In [4]:
train = pd.read_csv('data/movie_review/train.tsv', sep='\t', index_col=0)
train

,SentenceId,Phrase,Sentiment
PhraseId,,,
1,1,A series of escapades demonstrating the adage ...,1
2,1,A series of escapades demonstrating the adage ...,2
3,1,A series,2
4,1,A,2
5,1,series,2
...,...,...,...
156056,8544,Hearst 's,2
156057,8544,forced avuncular chortles,1
156058,8544,avuncular chortles,3
156059,8544,avuncular,2
156060,8544,chortles,2