In [1]:
import numpy as np
import pandas as pd
import re
import re

In [2]:
data = pd.read_csv('Diemthi_thpt_quocgia_2016.csv')

In [3]:
data

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
0,18000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....
1,18000002,ĐỖ VĂN AN,9/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...
2,18000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...
3,18000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...
4,18000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...
...,...,...,...,...,...,...
34821,HUI014539,VÒNG NGỌC YẾN,15/05/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 0.75 Ngữ văn: 5.00 Hóa học: 4....
34822,HUI014540,VÒNG THANH YẾN,9/09/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 4.75 Ngữ văn: 5.75 Vật lí: 6.8...
34823,HUI014541,VŨ THỊ BẢO YẾN,19/05/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 4.00 Ngữ văn: 5.50 Vật lí: 5.6...
34824,HUI014542,VŨ THỊ YẾN,13/01/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 5.75 Ngữ văn: 6.00 Vật lí: 7.4...
34825,HUI014543,VƯƠNG THỊ YẾN,5/02/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 2.50 Ngữ văn: 4.25 Vật lí: 4.2...

In [4]:
def diem_thi(mon_thi,x):
    try:
        path = '(.*)('+mon_thi+':)\s+(\d?\d\.\d\d)(.*)'
        diemthi = float(re.split(path,x)[3])
        return diemthi
    except Exception:
        return None

In [5]:
lst_mon_thi = ['Toán','Ngữ văn','Vật lí','Hóa học','Sinh học','Lịch sử','Địa lí','Tiếng Anh', 'Tiếng Nhật', 'Tiếng Trung', 'Tiếng Pháp', 'Tiếng Đức']
for mon_thi in lst_mon_thi:
    data[mon_thi] = data['DIEM_THI'].apply(lambda x: diem_thi(mon_thi,x))

In [6]:
lst_show = ['SOBAODANH','HO_TEN']
lst_show.extend(lst_mon_thi)
show = lst_show.copy()

In [7]:
df = data[show]
df

,SOBAODANH,HO_TEN,Toán,Ngữ văn,Vật lí,Hóa học,Sinh học,Lịch sử,Địa lí,Tiếng Anh,Tiếng Nhật,Tiếng Trung,Tiếng Pháp,Tiếng Đức
0,18000001,DƯƠNG VIỆT AN,2.00,5.50,NaN,NaN,NaN,3.0,5.00,NaN,NaN,NaN,NaN,NaN
1,18000002,ĐỖ VĂN AN,5.50,5.25,NaN,NaN,NaN,NaN,5.50,3.68,NaN,NaN,NaN,NaN
2,18000003,ĐỖ XUÂN AN,4.50,5.50,NaN,NaN,NaN,NaN,3.75,2.25,NaN,NaN,NaN,NaN
3,18000004,ĐẶNG PHÚC AN,3.00,6.00,NaN,NaN,NaN,NaN,5.50,1.50,NaN,NaN,NaN,NaN
4,18000005,ĐẶNG VĂN AN,2.25,4.75,NaN,NaN,NaN,NaN,5.25,2.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34821,HUI014539,VÒNG NGỌC YẾN,0.75,5.00,NaN,4.8,5.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34822,HUI014540,VÒNG THANH YẾN,4.75,5.75,6.8,4.6,4.6,NaN,NaN,3.33,NaN,NaN,NaN,NaN
34823,HUI014541,VŨ THỊ BẢO YẾN,4.00,5.50,5.6,NaN,NaN,NaN,NaN,3.60,NaN,NaN,NaN,NaN
34824,HUI014542,VŨ THỊ YẾN,5.75,6.00,7.4,4.8,NaN,NaN,NaN,2.88,NaN,NaN,NaN,NaN
34825,HUI014543,VƯƠNG THỊ YẾN,2.50,4.25,4.2,4.4,4.4,NaN,NaN,3.00,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34826 entries, 0 to 34825
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SOBAODANH    34826 non-null  object
 1   HO_TEN       34826 non-null  object
 2   Toán         34500 non-null  float64
 3   Ngữ văn      33894 non-null  float64
 4   Vật lí       10157 non-null  float64
 5   Hóa học      8098 non-null   float64
 6   Sinh học     3573 non-null   float64
 7   Lịch sử      3235 non-null   float64
 8   Địa lí       22171 non-null  float64
 9   Tiếng Anh    30200 non-null  float64
 10  Tiếng Nhật   8 non-null      float64
 11  Tiếng Trung  27 non-null     float64
 12  Tiếng Pháp   10 non-null     float64
 13  Tiếng Đức    1 non-null      float64
dtypes: float64(12), object(2)
memory usage: 3.7+ MB