In [10]:
import numpy as np
import pandas as pd
import re
import glob

In [24]:
list_file = glob.glob('data/201*-baby-names-illinois.csv')
df = pd.DataFrame()
for file in list_file:
    df_temp = pd.read_csv(file)
    df_temp['year'] = pd.to_numeric(re.findall('(\d{4})', file)[0])
    df = pd.concat([df, df_temp], ignore_index=True)
df

     rank       name  frequency   sex  year
0       1       Noah        863  Male  2015
1       2       Liam        709  Male  2015
2       3  Alexander        703  Male  2015
3       4      Jacob        650  Male  2015
4       5    William        618  Male  2015
..    ...        ...        ...   ...   ...
196    97        Max        170  Male  2014
197    98      Brody        168  Male  2014
198    99     Jaxson        168  Male  2014
199   100     George        166  Male  2014
200   101   Theodore        166  Male  2014

[201 rows x 5 columns]

In [29]:
df['sex'] = df['sex'].astype('category')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rank       201 non-null    int64
 1   name       201 non-null    object
 2   frequency  201 non-null    int64
 3   sex        201 non-null    category
 4   year       201 non-null    int64
dtypes: category(1), int64(3), object(1)
memory usage: 6.7+ KB