In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
data = pd.read_csv('Diemthi_thpt_quocgia_2016.csv')

In [3]:
data

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
0,18000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....
1,18000002,ĐỖ VĂN AN,9/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...
2,18000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...
3,18000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...
4,18000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...
...,...,...,...,...,...,...
34821,HUI014539,VÒNG NGỌC YẾN,15/05/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 0.75 Ngữ văn: 5.00 Hóa học: 4....
34822,HUI014540,VÒNG THANH YẾN,9/09/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 4.75 Ngữ văn: 5.75 Vật lí: 6.8...
34823,HUI014541,VŨ THỊ BẢO YẾN,19/05/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 4.00 Ngữ văn: 5.50 Vật lí: 5.6...
34824,HUI014542,VŨ THỊ YẾN,13/01/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 5.75 Ngữ văn: 6.00 Vật lí: 7.4...
34825,HUI014543,VƯƠNG THỊ YẾN,5/02/1998,Trường Đại học Công nghiệp Tp. HCM,Nữ,Toán: 2.50 Ngữ văn: 4.25 Vật lí: 4.2...

In [4]:
def split_by_diem(x):
    path = "(\d?\d\.\d\d)"
    splited = re.split(path,x)
    splited_done = list(map(lambda x: x.strip().strip(':'),splited))
    return splited_done

In [5]:
data['SPLITED'] = data['DIEM_THI'].apply(lambda x: split_by_diem(x))
data.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI,SPLITED
0,18000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....,"[Toán, 2.00, Ngữ văn, 5.50, Lịch sử, 3.00, Địa..."
1,18000002,ĐỖ VĂN AN,9/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...,"[Toán, 5.50, Ngữ văn, 5.25, Địa lí, 5.50, Tiến..."
2,18000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...,"[Toán, 4.50, Ngữ văn, 5.50, Địa lí, 3.75, Tiến..."
3,18000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...,"[Toán, 3.00, Ngữ văn, 6.00, Địa lí, 5.50, Tiến..."
4,18000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...,"[Toán, 2.25, Ngữ văn, 4.75, Địa lí, 5.25, Tiến..."

In [6]:
def tung_mon(splited, index):
    for i in range(0,len(splited)-1,2):
        data.loc[index, splited[i]] = float(splited[i+1])
    return

In [7]:
for i in range(data.shape[0]):
    tung_mon(data.loc[i,'SPLITED'], i)

In [8]:
data.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI,SPLITED,Toán,Ngữ văn,Lịch sử,Địa lí,Tiếng Anh,Sinh học,Vật lí,Hóa học,Tiếng Nhật,Tiếng Pháp,Tiếng Trung,Tiếng Đức
0,18000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....,"[Toán, 2.00, Ngữ văn, 5.50, Lịch sử, 3.00, Địa...",2.00,5.50,3.0,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18000002,ĐỖ VĂN AN,9/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...,"[Toán, 5.50, Ngữ văn, 5.25, Địa lí, 5.50, Tiến...",5.50,5.25,NaN,5.50,3.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...,"[Toán, 4.50, Ngữ văn, 5.50, Địa lí, 3.75, Tiến...",4.50,5.50,NaN,3.75,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...,"[Toán, 3.00, Ngữ văn, 6.00, Địa lí, 5.50, Tiến...",3.00,6.00,NaN,5.50,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...,"[Toán, 2.25, Ngữ văn, 4.75, Địa lí, 5.25, Tiến...",2.25,4.75,NaN,5.25,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN