In [36]:
import numpy as np
import pandas as pd
import re
from collections import Counter

In [37]:
data = pd.read_csv('Diemthi_thpt_quocgia_2016.csv')

In [38]:
data.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
0,18000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....
1,18000002,ĐỖ VĂN AN,9/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...
2,18000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...
3,18000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...
4,18000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...

In [39]:
data['SPLITED'] = data['DIEM_THI'].apply(lambda x: re.split(':\s*\d?\d\.\d\d\s*',x))
data.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI,SPLITED
0,18000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....,"[Toán, Ngữ văn, Lịch sử, Địa lí, ]"
1,18000002,ĐỖ VĂN AN,9/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...,"[Toán, Ngữ văn, Địa lí, Tiếng Anh, ]"
2,18000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...,"[Toán, Ngữ văn, Địa lí, Tiếng Anh, ]"
3,18000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...,"[Toán, Ngữ văn, Địa lí, Tiếng Anh, ]"
4,18000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...,"[Toán, Ngữ văn, Địa lí, Tiếng Anh, ]"

In [40]:
dict_mon_hoc = Counter()
for i in data['SPLITED']:
    dict_mon_hoc.update(i)
lst_mon_thi = list(filter(None,dict_mon_hoc.keys()))
lst_mon_thi

['Toán',
 'Ngữ văn',
 'Lịch sử',
 'Địa lí',
 'Tiếng Anh',
 'Sinh học',
 'Vật lí',
 'Hóa học',
 'Tiếng Nhật',
 'Tiếng Pháp',
 'Tiếng Trung',
 'Tiếng Đức']

In [41]:
def diem_thi(mon_thi):
    path = ''+mon_thi+':\s*(\d?\d\.\d\d)'
    split = data['DIEM_THI'].str.extract(path)
    if split.isnull().all()[0] == False:
        data[mon_thi] = pd.to_numeric(split[0])
    data['DIEM_THI'] = data['DIEM_THI'].str.replace(''+mon_thi+':\s*\d?\d\.\d\d','/')

In [42]:
for mon_thi in lst_mon_thi:
    diem_thi(mon_thi)

In [43]:
lst_show = ['SOBAODANH','HO_TEN']
lst_show.extend(lst_mon_thi)
data[lst_show]

,SOBAODANH,HO_TEN,Toán,Ngữ văn,Lịch sử,Địa lí,Tiếng Anh,Sinh học,Vật lí,Hóa học,Tiếng Nhật,Tiếng Pháp,Tiếng Trung,Tiếng Đức
0,18000001,DƯƠNG VIỆT AN,2.00,5.50,3.0,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18000002,ĐỖ VĂN AN,5.50,5.25,NaN,5.50,3.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18000003,ĐỖ XUÂN AN,4.50,5.50,NaN,3.75,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18000004,ĐẶNG PHÚC AN,3.00,6.00,NaN,5.50,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18000005,ĐẶNG VĂN AN,2.25,4.75,NaN,5.25,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34821,HUI014539,VÒNG NGỌC YẾN,0.75,5.00,NaN,NaN,NaN,5.2,NaN,4.8,NaN,NaN,NaN,NaN
34822,HUI014540,VÒNG THANH YẾN,4.75,5.75,NaN,NaN,3.33,4.6,6.8,4.6,NaN,NaN,NaN,NaN
34823,HUI014541,VŨ THỊ BẢO YẾN,4.00,5.50,NaN,NaN,3.60,NaN,5.6,NaN,NaN,NaN,NaN,NaN
34824,HUI014542,VŨ THỊ YẾN,5.75,6.00,NaN,NaN,2.88,NaN,7.4,4.8,NaN,NaN,NaN,NaN
34825,HUI014543,VƯƠNG THỊ YẾN,2.50,4.25,NaN,NaN,3.00,4.4,4.2,4.4,NaN,NaN,NaN,NaN

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34826 entries, 0 to 34825
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SOBAODANH    34826 non-null  object
 1   HO_TEN       34826 non-null  object
 2   NGAY_SINH    34826 non-null  object
 3   TEN_CUMTHI   34826 non-null  object
 4   GIOI_TINH    34826 non-null  object
 5   DIEM_THI     34826 non-null  object
 6   SPLITED      34826 non-null  object
 7   Toán         34500 non-null  float64
 8   Ngữ văn      33894 non-null  float64
 9   Lịch sử      3235 non-null   float64
 10  Địa lí       22171 non-null  float64
 11  Tiếng Anh    30200 non-null  float64
 12  Sinh học     3573 non-null   float64
 13  Vật lí       10157 non-null  float64
 14  Hóa học      8098 non-null   float64
 15  Tiếng Nhật   8 non-null      float64
 16  Tiếng Pháp   10 non-null     float64
 17  Tiếng Trung  27 non-null     float64
 18  Tiếng Đức    1 non-null      float64
dtypes: float64(12), object(7)
memory usage: 5.0+ MB