In [1]:
import numpy as np
import pandas as pd
import re

In [3]:
df = pd.read_excel("data/Diemthi_thpt_quocgia_2016.xlsx", sheet_name="Export Worksheet")

In [4]:
df.shape

(34826, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34826 entries, 0 to 34825
Data columns (total 6 columns):
SOBAODANH     34826 non-null object
HO_TEN        34826 non-null object
NGAY_SINH     34826 non-null object
TEN_CUMTHI    34826 non-null object
GIOI_TINH     34826 non-null object
DIEM_THI      34826 non-null object
dtypes: object(6)
memory usage: 1.6+ MB

In [7]:
df.head(10)

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...
5,018000006,HÀ THỊ AN,22/06/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 5.75 Ngữ văn: 5.50 Địa lí: 5.5...
6,018000007,HÀ THỊ AN,23/04/1997,Sở GDĐT Bắc Giang,Nữ,Toán: 1.75 Ngữ văn: 5.25 Địa lí: 4.7...
7,018000008,HỨA VĂN AN,25/05/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 4.75 Địa lí: 5.5...
8,018000009,HOÀNG VĂN AN,22/02/1998,Sở GDĐT Bắc Giang,Nam,Toán: 3.75 Ngữ văn: 5.00 Địa lí: 6.5...
9,018000010,LA VĂN AN,19/08/1998,Sở GDĐT Bắc Giang,Nam,Toán: 3.50 Ngữ văn: 5.00 Địa lí: 4.2...

In [8]:
df[df["GIOI_TINH"]=="?"]

Empty DataFrame
Columns: [SOBAODANH, HO_TEN, NGAY_SINH, TEN_CUMTHI, GIOI_TINH, DIEM_THI]
Index: []

In [9]:
df['GIOI_TINH'].unique()

array(['Nam', 'Nữ'], dtype=object)

In [10]:
df['GIOI_TINH'].value_counts()

Nữ     17833
Nam    16993
Name: GIOI_TINH, dtype: int64

In [34]:
chuoi_diem= "Toán:   2.00   Ngữ văn:   5.50   Lịch sử:   3.00   Địa lí:   5.00"

In [43]:
gia_tri_tim = "Địa lí:\s\s\s\d+.\d+"
gia_tri_tim = "Địa lí:\s\s\s\d+.\d+"
result = re.search(gia_tri_tim, chuoi_diem)

In [44]:
dict_diem = {}
if result:
    tmp = list(result.group().partition(":   "))
    dict_diem[tmp[0]] = tmp[2]
print(dict_diem)

{'Địa lí': '5.00'}

In [40]:
ds_cac_mon_thi=("Toán", "Ngữ văn", "Địa lí", "Tiếng Anh", "Sinh học", "Vật lí", "Hóa học", "Lịch sử")

In [63]:
def tach_diem_thi(chuoi_diem):
    dict_diem = {}
    for mon in ds_cac_mon_thi:
        gia_tri_tim = mon + ":\s\s\s\d+.\d+"
        result = re.search(gia_tri_tim, chuoi_diem)
        if result:
            tmp = list(result.group().partition(":   "))
            dict_diem[mon] = [float(tmp[2])]
        else:
            dict_diem[mon] = [np.nan]
    return pd.DataFrame(dict_diem)

In [64]:
tach_diem_thi(chuoi_diem)

   Toán  Ngữ văn  Địa lí  Tiếng Anh  Sinh học  Vật lí  Hóa học  Lịch sử
0   2.0      5.5     5.0        NaN       NaN     NaN      NaN      3.0

In [66]:
df_diem = pd.DataFrame(columns=ds_cac_mon_thi)
df_diem

Empty DataFrame
Columns: [Toán, Ngữ văn, Địa lí, Tiếng Anh, Sinh học, Vật lí, Hóa học, Lịch sử]
Index: []

In [67]:
for chi_so_dong in range(df.shape[0]):
    diem_thi = df['DIEM_THI'][chi_so_dong]
    df_temp = tach_diem_thi(diem_thi)
    df_diem = pd.concat([df_diem, df_temp], sort=False, ignore_index=True)

In [68]:
df_diem.head()

   Toán  Ngữ văn  Địa lí  Tiếng Anh  Sinh học  Vật lí  Hóa học  Lịch sử
0  2.00     5.50    5.00        NaN       NaN     NaN      NaN      3.0
1  5.50     5.25    5.50       3.68       NaN     NaN      NaN      NaN
2  4.50     5.50    3.75       2.25       NaN     NaN      NaN      NaN
3  3.00     6.00    5.50       1.50       NaN     NaN      NaN      NaN
4  2.25     4.75    5.25       2.00       NaN     NaN      NaN      NaN

In [69]:
df_result = pd.concat([df, df_diem], axis=1)

In [70]:
df_result.shape

(34826, 14)

In [71]:
df_result.head()

,SOBAODANH,HO_TEN,NGAY_SINH,TEN_CUMTHI,GIOI_TINH,DIEM_THI,Toán,Ngữ văn,Địa lí,Tiếng Anh,Sinh học,Vật lí,Hóa học,Lịch sử
0,018000001,DƯƠNG VIỆT AN,12/03/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.00 Ngữ văn: 5.50 Lịch sử: 3....,2.00,5.50,5.00,NaN,NaN,NaN,NaN,3.0
1,018000002,ĐỖ VĂN AN,09/12/1998,Sở GDĐT Bắc Giang,Nam,Toán: 5.50 Ngữ văn: 5.25 Địa lí: 5.5...,5.50,5.25,5.50,3.68,NaN,NaN,NaN,NaN
2,018000003,ĐỖ XUÂN AN,12/08/1997,Sở GDĐT Bắc Giang,Nam,Toán: 4.50 Ngữ văn: 5.50 Địa lí: 3.7...,4.50,5.50,3.75,2.25,NaN,NaN,NaN,NaN
3,018000004,ĐẶNG PHÚC AN,19/03/1998,Sở GDĐT Bắc Giang,Nữ,Toán: 3.00 Ngữ văn: 6.00 Địa lí: 5.5...,3.00,6.00,5.50,1.50,NaN,NaN,NaN,NaN
4,018000005,ĐẶNG VĂN AN,25/10/1998,Sở GDĐT Bắc Giang,Nam,Toán: 2.25 Ngữ văn: 4.75 Địa lí: 5.2...,2.25,4.75,5.25,2.00,NaN,NaN,NaN,NaN