<a href="https://archive.ics.uci.edu/ml/datasets/wine+quality"><img src="https://archive.ics.uci.edu/ml/assets/logo.gif" width="400" align="center"></a>

<h1 align="center"><font size="5">Project: Automobile - Predict "Price"</font></h1>
<h2 align="center"><font size="5">Deadline: 2020-11-29 18:00:00</font></h2>
<h3 align="center"><font size="5"> Total marks: 4.0</font></h3>

### Your information:
- Fullname:
- Date of birth:
- Place of birth:
- Email:
- Mobile phone:

In this notebook, we practice all the knowledge and skills that we learned in this course.

We apply the **Linear Algorithm** to predict: "price of car" by accuracy evaluation methods.

Please read [Automobile information](https://archive.ics.uci.edu/ml/datasets/Automobile) carefully before you do this project!

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline
import re

Dataset: imports_85.csv

#### Attribute Information:
Attribute: Attribute Range

1. symboling: -3, -2, -1, 0, 1, 2, 3.
2. normalized-losses: continuous from 65 to 256.
3. make:
alfa-romero, audi, bmw, chevrolet, dodge, honda,
isuzu, jaguar, mazda, mercedes-benz, mercury,
mitsubishi, nissan, peugot, plymouth, porsche,
renault, saab, subaru, toyota, volkswagen, volvo
4. fuel-type: diesel, gas.
5. aspiration: std, turbo.
6. num-of-doors: four, two.
7. body-style: hardtop, wagon, sedan, hatchback, convertible.
8. drive-wheels: 4wd, fwd, rwd.
9. engine-location: front, rear.
10. wheel-base: continuous from 86.6 120.9.
11. length: continuous from 141.1 to 208.1.
12. width: continuous from 60.3 to 72.3.
13. height: continuous from 47.8 to 59.8.
14. curb-weight: continuous from 1488 to 4066.
15. engine-type: dohc, dohcv, l, ohc, ohcf, ohcv, rotor.
16. num-of-cylinders: eight, five, four, six, three, twelve, two.
17. engine-size: continuous from 61 to 326.
18. fuel-system: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi.
19. bore: continuous from 2.54 to 3.94.
20. stroke: continuous from 2.07 to 4.17.
21. compression-ratio: continuous from 7 to 23.
22. horsepower: continuous from 48 to 288.
23. peak-rpm: continuous from 4150 to 6600.
24. city-mpg: continuous from 13 to 49.
25. highway-mpg: continuous from 16 to 54.
26. price: continuous from 5118 to 45400.

In [46]:
info_string = 'symboling: -3, -2, -1, 0, 1, 2, 3. normalized-losses: continuous: from 65 to 256. make: alfa-romero, audi, bmw, chevrolet, dodge, honda, isuzu, jaguar, mazda, mercedes-benz, mercury, mitsubishi, nissan, peugot, plymouth, porsche, renault, saab, subaru, toyota, volkswagen, volvo. fuel-type: diesel, gas. aspiration: std, turbo. num-of-doors: four, two. body-style: hardtop, wagon, sedan, hatchback, convertible. drive-wheels: 4wd, fwd, rwd. engine-location: front, rear. wheel-base: continuous: from 86.6 to 120.9. length: continuous: from 141.1 to 208.1. width: continuous: from 60.3 to 72.3. height: continuous: from 47.8 to 59.8. curb-weight: continuous: from 1488 to 4066. engine-type: dohc, dohcv, l, ohc, ohcf, ohcv, rotor. num-of-cylinders: eight, five, four, six, three, twelve, two. engine-size: continuous: from 61 to 326. fuel-system: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi. bore: continuous: from 2.54 to 3.94. stroke: continuous: from 2.07 to 4.17. compression-ratio: continuous: from 7 to 23. horsepower: continuous: from 48 to 288. peak-rpm: continuous: from 4150 to 6600. city-mpg: continuous: from 13 to 49. highway-mpg: continuous: from 16 to 54. price: continuous: from 5118 to 45400.'

In [47]:
a = 'from 86.6 120.9'
re.split('from (\d*\.*\d*) to (\d*\.*\d*)', a)[0]

'from 86.6 120.9'

In [54]:
info = pd.DataFrame(info_string.split('. '), columns=['detail'])
info['detail'] = info['detail'].apply(lambda x: x.split(': '))
# info['detail'] = info['detail'].apply(lambda x: [s.strip() for s in x])
info['col'] = info['detail'].apply(lambda x: x[0])
info['type'] = info['detail'].apply(lambda x: 'continuous' if x[1]=='continuous' else 'category')
info['category_label'] = info.apply(lambda x: x['detail'][1].split(', ') if x['type']=='category' else '', axis=1)
info['n_label'] = info['category_label'].apply(lambda x: len(x) if len(x)>0 else '')
info['range'] = info.apply(lambda x: x['detail'][2] if x['type'] == 'continuous' else '', axis=1)
info['range'] = info.apply(lambda x: pd.to_numeric(re.findall('from (\d*\.*\d*) to (\d*\.*\d*)', x['detail'][2])[0]) if x['type'] == 'continuous' else '', axis=1)
info['min'] = info.apply(lambda x: x['range'][0] if x['type']=='continuous' else '', axis=1)
info['max'] = info.apply(lambda x: x['range'][1] if x['type']=='continuous' else '', axis=1)
info.drop(columns=['detail'], inplace=True)
info

,col,type,category_label,n_label,range,min,max
0,symboling,category,"[-3, -2, -1, 0, 1, 2, 3]",7,,,
1,normalized-losses,continuous,,,"[65, 256]",65,256
2,make,category,"[alfa-romero, audi, bmw, chevrolet, dodge, hon...",22,,,
3,fuel-type,category,"[diesel, gas]",2,,,
4,aspiration,category,"[std, turbo]",2,,,
5,num-of-doors,category,"[four, two]",2,,,
6,body-style,category,"[hardtop, wagon, sedan, hatchback, convertible]",5,,,
7,drive-wheels,category,"[4wd, fwd, rwd]",3,,,
8,engine-location,category,"[front, rear]",2,,,
9,wheel-base,continuous,,,"[86.6, 120.9]",86.6,120.9
10,length,continuous,,,"[141.1, 208.1]",141.1,208.1
11,width,continuous,,,"[60.3, 72.3]",60.3,72.3
12,height,continuous,,,"[47.8, 59.8]",47.8,59.8
13,curb-weight,continuous,,,"[1488, 4066]",1488,4066
14,engine-type,category,"[dohc, dohcv, l, ohc, ohcf, ohcv, rotor]",7,,,
15,num-of-cylinders,category,"[eight, five, four, six, three, twelve, two]",7,,,
16,engine-size,continuous,,,"[61, 326]",61,326
17,fuel-system,category,"[1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi]",8,,,
18,bore,continuous,,,"[2.54, 3.94]",2.54,3.94
19,stroke,continuous,,,"[2.07, 4.17]",2.07,4.17
20,compression-ratio,continuous,,,"[7, 23]",7,23
21,horsepower,continuous,,,"[48, 288]",48,288
22,peak-rpm,continuous,,,"[4150, 6600]",4150,6600
23,city-mpg,continuous,,,"[13, 49]",13,49
24,highway-mpg,continuous,,,"[16, 54]",16,54
25,price,continuous,,,"[5118.0, 45400.0]",5118,45400

In [55]:
df = pd.read_csv('imports_85.csv', header=None, names=info['col'])
df

FileNotFoundError: [Errno 2] No such file or directory: 'imports_85.csv'

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       205 non-null    int64
 1   1       205 non-null    object
 2   2       205 non-null    object
 3   3       205 non-null    object
 4   4       205 non-null    object
 5   5       205 non-null    object
 6   6       205 non-null    object
 7   7       205 non-null    object
 8   8       205 non-null    object
 9   9       205 non-null    float64
 10  10      205 non-null    float64
 11  11      205 non-null    float64
 12  12      205 non-null    float64
 13  13      205 non-null    int64
 14  14      205 non-null    object
 15  15      205 non-null    object
 16  16      205 non-null    int64
 17  17      205 non-null    object
 18  18      205 non-null    object
 19  19      205 non-null    object
 20  20      205 non-null    float64
 21  21      205 non-null    object
 22  22      205 non-null    object
 23  23      205 non-null    int64
 24  24      205 non-null    int64
 25  25      205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

### Requirements:

- Data exploration
- Data visualization
- Pre-processing: Feature selection/extraction
- Linear Regression
    - Model Evaluation using Test set
    - Report

In [ ]:
# Idea: Write a function to extract Variable attribute range from detail above, make it to data frame
# Then use for-loops to check back to data set, change the inputs cell if they not meet attribute range from data-frame created
#

In [5]:
# Create a function to evaluate missing in data, check unique in object (categorical col)
def check_nan(df):

    check = []

    for col in df.columns:

        if df.dtypes[col] == 'object':
            type = 'Object'
            unique_obj = df[col].unique()
        else:
            type = 'Numeric'
            unique_obj = ''

        total_nan = df[col].isnull().sum()
        percent_nan = total_nan/len(df[col])
        check.append([col, type, total_nan, percent_nan, unique_obj])

    check_df = pd.DataFrame(check, columns=['Col', 'Type', 'Total_NaN', 'Percent', 'Unique'])

    return check_df

check = check_nan(df)
check

,Col,Type,Total_NaN,Percent,Unique
0,0,Numeric,0,0.0,
1,1,Object,0,0.0,"[?, 164, 158, 192, 188, 121, 98, 81, 118, 148,..."
2,2,Object,0,0.0,"[alfa-romero, audi, bmw, chevrolet, dodge, hon..."
3,3,Object,0,0.0,"[gas, diesel]"
4,4,Object,0,0.0,"[std, turbo]"
5,5,Object,0,0.0,"[two, four, ?]"
6,6,Object,0,0.0,"[convertible, hatchback, sedan, wagon, hardtop]"
7,7,Object,0,0.0,"[rwd, fwd, 4wd]"
8,8,Object,0,0.0,"[front, rear]"
9,9,Numeric,0,0.0,
10,10,Numeric,0,0.0,
11,11,Numeric,0,0.0,
12,12,Numeric,0,0.0,
13,13,Numeric,0,0.0,
14,14,Object,0,0.0,"[dohc, ohcv, ohc, l, rotor, ohcf, dohcv]"
15,15,Object,0,0.0,"[four, six, five, three, twelve, two, eight]"
16,16,Numeric,0,0.0,
17,17,Object,0,0.0,"[mpfi, 2bbl, mfi, 1bbl, spfi, 4bbl, idi, spdi]"
18,18,Object,0,0.0,"[3.47, 2.68, 3.19, 3.13, 3.50, 3.31, 3.62, 2.9..."
19,19,Object,0,0.0,"[2.68, 3.47, 3.40, 2.80, 3.19, 3.39, 3.03, 3.1..."
20,20,Numeric,0,0.0,
21,21,Object,0,0.0,"[111, 154, 102, 115, 110, 140, 160, 101, 121, ..."
22,22,Object,0,0.0,"[5000, 5500, 5800, 4250, 5400, 5100, 4800, 600..."
23,23,Numeric,0,0.0,
24,24,Numeric,0,0.0,
25,25,Object,0,0.0,"[13495, 16500, 13950, 17450, 15250, 17710, 189..."